<table>
  <thead>
    <tr>
      <th>Fruit</th>
      <th>Fruit color</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fruit of data">
      <td>{{ fruit.fruit }}</td>
      <td>{{ fruit.color }}</td>
    </tr>
  </tbody>
</table>

<div class="authentication-container" [formGroup]="form">
  <img src="assets/images/sign_in.svg" />
  <div class="authentication-content">
    <span class="login-label"
      >{{ isSetRegistered ? "Register" : "Log in" }}
    </span>
    <button (click)="setValue()">
      Set default email
    </button>

    <label>Email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="!emailControl.valid">
      Email is wrong
    </div>

    <label>Password</label>
    <input type="password" formControlName="password" />
    <ng-container *ngIf="isSetRegistered">
      <label>Full name</label>
      <input type="text" formControlName="fullName" />
    </ng-container>

    <span class="not-registered"
      ><input type="checkbox" (click)="setRegister()" />
      <p>
        {{ isSetRegistered ? "Go back to log in" : "I am not registered yet" }}
      </p>
    </span>

    <span class="admin">
      <input type="checkbox" (click)="setAdmin()" />
      <p>I want to be an admin</p>
    </span>
  </div>
</div>
