<div class="authentication-container">
  <img src="assets/images/sign_in.svg">
  <div class="authentication-content">
    <span class="login-label">{{isSetRegistered? 'Register': 'Log in'}} </span>
    <label>Email</label>
    <input type="email" />
    <label>Password</label>
    <input type="password" />
    <ng-container *ngIf="isSetRegistered">
      <label>Full name</label>
      <input type="text" />
    </ng-container>

    <span class="not-registered"><input type="checkbox"
             (click)="setRegister()" />
      <p>{{isSetRegistered? 'Go back to log in': 'I am not registered yet'}}</p>
    </span>

    <span class="admin">
      <input type="checkbox"
             (click)="setAdmin()">
      <p>I want to be an admin</p>
    </span>
    <button type="button"><span>{{isSetRegistered? 'Register': 'Login'}}</span></button>
  </div>
</div>