@import "../../../assets/styles/layout.scss";

.authentication-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.authentication-container img {
  width: 35%;
}

.authentication-container .login-label {
  font-size: 30px;
  font-family: "Open Sans";
  margin-top: 20px;
  margin-bottom: 40px;
}

.authentication-container .not-registered,
.admin {
  width: 40%;
  font-family: "Open Sans";
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-container input[type="checkbox"] {
  width: unset !important;
  height: 20px !important;
  margin-bottom: 0 !important;
}

.authentication-container p {
  border: 0;
}

.authentication-content {
  display: flex;
  width: 50%;
  max-height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 23, 87, 0.08);
}

.authentication-container .authentication-content input {
  width: 50%;
  height: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  border: 1px solid #e3e9f7;
  border-radius: 8px;
  outline: none;
}

.authentication-container .authentication-content label {
  font-family: "Open Sans";
}

.authentication-container .authentication-content button {
  background-color: #27ae60;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: "Open Sans";
  font-weight: bold;
}

.authentication-container .authentication-content button span {
  font-size: 16px;
  color: white !important;
}

@media (max-width: 900px) {
  .authentication-container {
    flex-direction: column;
  }
}
