<header>
  <section>
    <a routerLink="dashboard">
      <img src="../../assets/images/navigator.svg" />
    </a>
  </section>

  <section id="project-title">
    <h2>
      TRIPS project
    </h2>
  </section>

  <section
    *ngIf="userService.username | async as username"
    class="flex-row-end"
  >
    <img src="../../assets/images/profile.png" />
    <h3 class="flex-row-end">Welcome, {{ username }}</h3>
    <img
      class="logout"
      src="../../assets/images/logout.svg"
      (click)="logout()"
    />
  </section>
</header>
