h1,h2, h3, h4, h5, label, p, div, span, input{
  font-family: 'Open Sans' !important;
  color: #3a4870 !important;
}

.flex-row-start{
  display:flex;
  flex-direction: row;
  justify-content: start;
}

.flex-row-end{
  display:flex;
  flex-direction: row;
  justify-content: end;
}

.flex-row-center{
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.flex-row-space-betwen{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-space-around{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-row-space-evenly{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
